@model WebApplication1.Models.DAL.state_topic


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Редагування наукової теми</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id_st)

            <div class="form-group">
                @Html.LabelForModel("Назва теми", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelForModel("Бюджет", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.budget, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.budget, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelForModel("Дата початку виконання", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.time_begin, new { htmlAttributes = new { @class = "form-control", @id = "datepicker" } })
                    @Html.ValidationMessageFor(model => model.time_begin, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @Html.LabelForModel("Дата завершення виконання", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.time_end, new { htmlAttributes = new { @class = "form-control", @id = "datepicker1" } })
                    @Html.ValidationMessageFor(model => model.time_end, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelForModel("Керівник", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("id_artist", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_artist, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Зберегти зміни" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Назад до списку", "Index")
    </div>
</body>

@section scripts
    {
    <script type="text/javascript">
            $("#datepicker").datepicker({
                dateFormat: "dd-mm-yy",
                dayNamesMin: ["Нд", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                monthNames: ["Січень", "Лютий", "Березень",
                            "Квітень", "Травень", "Червень",
                            "Липень", "Серпень", "Вересень",
                            "Жовтень", "Листопад", "Грудень"],
                firstDay: 1

            });
            $("#datepicker1").datepicker({
                dateFormat: "dd-mm-yy",
                dayNamesMin: ["Нд", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб"],
                monthNames: ["Січень", "Лютий", "Березень",
                            "Квітень", "Травень", "Червень",
                            "Липень", "Серпень", "Вересень",
                            "Жовтень", "Листопад", "Грудень"],
                firstDay: 1

            });
    </script>
}
</html>
